#topbar {
    margin-right: 10%;
    margin-top: -0.5vh; 
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-right:1%;
    padding-left:1%;
    right: 0;
    border-radius: 0.5vh;
    box-shadow: 0.2vh 0.1vh 0.5vh grey;
}

#topbar span {
    font-family: Helvetica;
    font-size: 2vh;
    font-weight: bolder;
    word-spacing: 3vh;
    line-height: 7vh;
}

#topbar span a {
    text-decoration: none;
    color: black;
}

#topbar span a:hover {
    text-decoration: transparent;
    color: rgba(17, 139, 240, 0.742);
}

#project-section {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

#project-header {
    color: white;
    font-size: 10vh;
    padding-left: 50px;
    padding-top: 50px;
}

#project-name {
    font-weight:bolder; 
    font-size: 5vh; 
    padding-left: 3.5%; 
    padding-bottom: 0vh; 
    font-style: italic; 
    color: #ffb300; 
}

#project-list {
    list-style-type: disc;
    padding-left: 10%;
    color: white;
    font-size:5vh;
    font-weight: bolder;
}   
#league-img {
    display: inline-block; 
    margin-top: -45vh; 
    margin-left: 120vh;
    border-radius: 1vh;
    box-shadow: 0.2vh 0.2vh 1.3vh rgb(253, 187, 65);
}

#website-img {
    display:flex; 
    margin-left: 50%; 
    margin-top: -30vh; 
    border-radius: 1vh 1vh;
    box-shadow: 0.5vh 0.5vh 1.3vh rgb(19, 105, 235);
}

#contact-header {
    font-size:10vh;
}

#contact-section {
    height: 700px;
    text-align: center;
}

#contact-logos span a:hover {
    opacity: 0.8;
}

#footer {
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 6vh;
}

#github-link {
    font-size: 7vh;
    text-decoration: none;
    color: rgb(65, 65, 210);
}
#github-link:hover {
    text-decoration: none;
    color: rgb(67, 67, 255)
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
}

header {
    height: 70px;
    margin: 0px;
}

main {
    margin-top: 5%;
    margin-left: 5%;
    font-family: Helvetica;
    font-size: 6vh;
    font-weight: bolder;
    width: fit-content;
    display: inline-block;
}

section {
    font-family: Helvetica;
    font-size: 40px;
}


